<div class="action">
    <div class="panel panel-success">
        <div class="panel-heading">图书管理</div>
        <div class="panel-body" style="margin-right: 10px">
            <div><a href="/addbook/" class="btn btn-danger" style="margin-bottom: 10px">添加书籍</a></div>
            <div><a href="/books/" class="btn btn-info">所有书籍</a></div>
            <div><a href="/findbook/" class="btn btn-success">查询书籍</a></div>
            <div><a href="/getauthor/" class="btn btn-danger" style="margin-top: 10px">作者详情</a></div>
            <div><a href="/salebook/" class="btn btn-info" style="margin-top: 10px">图书销量</a></div>
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading" style="background-color: #ebccd1">图书统计</div>
        <div class="panel-body">
            <div><a href="/data/" class="btn btn-success" style="margin-top: 10px">销量统计</a></div>
            <div><a href="/data2/" class="btn btn-info" style="margin-top: 10px">出版社书籍统计</a></div>
        </div>
    </div>
</div>